.footer {
  background: #2E2F42;
  padding: 100px 141px;
}

.footer-content {
  color: #F4F4FD;
  max-width: 264px;
  width: 100%;
}

.footer-logo {
  display: inline-block;
  color: #F4F4FD;
  font-family: Raleway;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.footer-logo span {
  color: #4D5AE5;
}